@each $text in left, right, center, justify {
  .text-#{$text} {
    text-align: #{$text};
  }
}

@each $display in flex, none, block, grid, inline-block {
  .#{$display} {
    display: #{$display};
  }
}

@each $align-items in center, left, right, normal, unset {
  .align-items-#{$align-items} {
    align-items: #{$align-items};
  }
}

@each $justify-content in center, space-around, space-between, unset {
  .justify-content-#{$justify-content} {
    justify-content: #{$justify-content};
  }
}

@each $flex-direction in row, column, row-reverse, column-reverse {
  .#{$flex-direction} {
    flex-direction: #{$flex-direction};
  }
}

@each $decor in underline, none {
  .decor-#{$decor} {
    text-decoration: #{$decor};
  }
}

@each $text-transform in uppercase, lowercase, none {
  .text-transform-#{$text-transform} {
    text-transform: #{$text-transform};
  }
}