$font-dir: '../fonts/';

@font-face {
  font-family: "Playfair";
  src: url("#{$font-dir}playfair-display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Saerows";
  src: url("#{$font-dir}saerows/saerows.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Lemon";
  src: url("#{$font-dir}lemon-milk/LemonMilk.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Julietta";
  src: url("#{$font-dir}julietta-messie/Julietta-Messie-Demo.otf") format("opentype");
  src: url("#{$font-dir}julietta-messie/Julietta-Messie-Demo.ttf") format("truetype");
  font-style: normal;
}
