$white: white;
$black: #1c1f25;
$dark-red: #992b30;
$red: red;
$light-red: #cc4e54;
$dark-blue: #191970;
$blue: #2980b9;
$light-blue: #148ddc;
$dark-grey: #959da238;
$grey: grey;
$disable: #808080ab !important;
$light-grey: #717171;
$super-light-grey: #cacfda;
