.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}
.text-error {
  text-align: center;
  color: $red;
  margin-bottom: 16px;
}

.field-error {
  border: 1px solid $red !important;
}

.disabled {
  background-color: $disable;
  border: 1px solid $disable;
}