footer {
  background-color: #3d3d3d;
  color: $white;
  padding: 50px 0 30px;
  width: 100%;
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    &-logo {
      background: url("../../assets/images/logotype.svg") no-repeat;
      width: 60px;
      height: 30px;
    }
    &-menu {
      grid-column: 2/6;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-border {
      grid-column: 1/6;
      margin: 30px 0;
    }
    &-news {
      color: $white;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: underline;
      }
    }
    &-sign {
      grid-column: 2/5;
      &-button {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 18px;
        padding: 15px 30px;
        &:hover {
          border: 1px solid $light-blue;
          background-color: $light-blue;
        }
      }
    }
    &-social {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        &:hover {
          opacity: 0.5;
        }
      }
      &--vk {
        background: url("../../assets/images/social/vk-footer.svg") no-repeat;
      }
      &--fb {
        background: url("../../assets/images/social/fb-footer.svg") no-repeat;
      }
      &--ig {
        background: url("../../assets/images/social/ig-footer.svg") no-repeat;
      }
    }
    &-entity {
      grid-column: 2/6;
      text-align: right;
    }
    &-copyright, &-entity {
      color: $white;
      margin: 20px 0;
    }
    &-copyright {
      text-align: left;
    }
    &-about {
      grid-column: 1/6;
      font-size: 11px;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 80px 0 30px;
    .footer {
      &-news {
        grid-column: 1/3;
      }
      &-sign {
        grid-column: 3/5;
      }
      &-entity {
        text-align: right;
      }
      &-copyright, &-entity {
        margin: 36px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .footer {
      grid-template-columns: 1fr;
      text-align: center;
      &-logo {
        margin: 0 auto;
        display:block;
        text-align: center;
      }
      &-menu {
        ul {
          display: block;
          li {
            margin-top: 30px;
          }
        }
      }
      &-sign {
        margin: 30px 0;
      }
      &-copyright, &-entity {
        text-align: center;
      }
      &-news, &-social {
        justify-content: center;
      }
      &-social {
        li {
          margin: 0 16px;
        }
      }
      &-menu, &-border, &-sign, &-entity, &-about {
        grid-column: 1;
      }
    }
  }
}
