@mixin selected-menu {
  border-bottom: 5px solid $dark-blue;
  position: absolute;
  content: '';
  width: 100%;
  bottom: -35px;
}

header {
  background-color: $white;
  box-shadow: 0 0 1em rgba(0,0,0,.1);
  position: relative;
  z-index: 2;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      &-d2 {
        background: url("../../assets/images/D2_logo.svg") no-repeat top center;
        width: 100px;
        height: 90px;
        background-size: 100%;
      }
      &-sang-young {
        background: url("../../assets/images/logo.svg") no-repeat center center;
        width: 100px;
        height: 90px;
        background-size: 100%;
      }
    }
    .main-menu {
      width: calc(100% - 370px);
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          text-decoration: none;
          li {
            list-style: none;
            color: $black;
            text-transform: uppercase;
            position: relative;
            font-size: 18px;
            &.active-link:before {
              @include selected-menu;
            }
            &:hover:before {
              @include selected-menu;
            }
            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }
    .social {
      &-network {
        li {
          list-style: none;
          display: inline-block;
          width: 30px;
          height: 30px;
          margin: 0 4px;
          &:hover {
            opacity: 0.5;
          }
        }
        &--vk {
          background: url("../../assets/images/social/vk.svg") no-repeat;
        }
        &--fb {
          background: url("../../assets/images/social/fb.svg") no-repeat;
        }
        &--ig {
          background: url("../../assets/images/social/ig.svg") no-repeat;
        }
      }
    }
    .hamburger {
      display: none;
      &-menu {
        width: 40px;
        height: 40px;
        padding: 6px;
        display: block;
        position: relative;
        z-index: 100;
        background: $blue;
        border: 5px solid $white;
        box-sizing: content-box;
        border-radius: 50%;
        text-indent: 100%;
        color: transparent;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
      }
      &-menu-open {
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -12px;
      }
      &-menu-open,
      &-menu-open::before,
      &-menu-open::after {
        position: absolute;
        width: 24px;
        height: 2px;
        background: $white;
        border-radius: 4px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      &-menu-open::before,
      &-menu-open::after {
        left: 0;
        content: "";
      }
      &-menu-open::before {
        top: 6px;
      }
      &-menu-open::after {
        bottom: 6px;
      }
      &-menu-close {
        background: transparent;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      &-menu-close::before {
        -webkit-transform: translateY(-6px) rotate(45deg);
        transform: translateY(-6px) rotate(45deg);
      }
      &-menu-close::after {
        -webkit-transform: translateY(6px) rotate(-45deg);
        transform: translateY(6px) rotate(-45deg);
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px){
  header {
    .header {
      .logo {
        &-d2 {
          margin-left: -20px;
        }
      }
      .main-menu {
        width: calc(100% - 200px);
      }
      .social {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  header {
    position: fixed;
    .header {
      .logo {
        &-d2 {
          margin-left: -20px;
        }
      }
      .main-menu, .social {
        display: none;
      }
      .hamburger {
        display: block;
      }
    }
  }
}
