.main-form {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: url("../../assets/images/tube.png") no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 50px;
  -moz-animation: blink normal 5s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 5s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 5s infinite ease-in-out; /* IE */
  animation: blink normal 5s infinite ease-in-out; /* Opera and prob css3 final iteration */
  z-index: 1;
}

/* Firefox old*/
@-moz-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media (max-width: 767px) {
  .main-form {
    width: 60px;
    height: 60px;
    right: 16px;
  }
}
