.main-slider {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  img {
    border: 1px solid $black;
    margin: 0 5px;
  }
}
