.modals {
  section {
    position: relative;
  }
  &-close {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    background: $blue;
    border-radius: 50%;
    color: $white;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    top: 4px;
    right: 12px;
    z-index: 1;
  }
  &-body {
    padding: 32px 16px;
    color: $black;
    position: relative;
    margin-top: 32px;
    &--percent {
      text-align: center;
      font-size: 210px;
      color: $red;
      font-family: Lemon;
      margin-bottom: 56px;
    }
    &--image {
      img {
        width: 100%;
        height: 300px;
      }
    }
    &--date, &--description {
      padding: 16px 40px;
      p {
        padding-top: 4px;
      }
    }
    &--form {
      margin: 16px 0;
      width: 728px;
      div {
        width: 25%;
        padding: 0 4px;
        input, select {
          width: 100%;
          height: 32px;
          font-size: 14px;
          border: 1px solid;
          padding-left: 8px;
        }
        input {
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
            color: $black;
          }
        }
        p {
          font-size: 13px;
          margin: 4px;
        }
      }
    }
    &--textarea {
      width: calc(100% - 8px);
      height: 88px;
      border: 1px solid $black;
      padding: 4px;
      font-size: 14px;
      margin: 8px 0 12px;
    }
    &--button {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 18px;
      padding: 15px 30px;
    }
  }
}

.sign-repair-date {
  &.error-date {
    input {
      border: 1px solid $red;
    }
  }
  div {
    width: 100%;
  }
  .vdp-datepicker__calendar {
    top: -135px;
    left: -180px;
    width: 356px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sign-repair-date {
    .vdp-datepicker__calendar {
      top: -92px;
      left: -178px;
      width: 360px;
      header {
        width: 348px;
        margin-top: -41px;
      }
    }
  }
}
@media (max-width: 767px) {
  .v--modal-box.v--modal {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
  }
  .modals {
    &-body {
      padding: 56px 16px;
      &--percent {
        text-align: center;
        font-size: 60px;
      }
      &--form {
        width: 300px;
        flex-direction: column;
        margin: auto;
        div {
          width: 100%;
          padding: 12px;
        }
      }
      &--textarea {
        width: 276px;
        margin-top: 8px;
      }
    }
  }
  .sign-repair-date { 
    padding: 0 !important;
    .vdp-datepicker__calendar {
      width: 292px;
      top: -65px;
      left: 0;
      header {
        width: 290px;
        margin-top: -54px;
        margin-left: -12px;
      }
    }
  }
}

@media (max-width: 320px) {
  .modals {
    &-body {
      &--textarea {
        margin: 8px 0 0 12px;
        width: calc(100% - 12px);
      }
    }
  }
}