.new-slides {
  max-width: 1000px;
  margin: auto;
  &.mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .new-slides {
    max-width: 710px;
  }
}
@media (max-width: 767px) {
  .new-slides {
    max-width: 260px;
    &.desktop {
      display: none;
    }
    &.mobile {
      display: flex;
      .VueCarousel-pagination {
        display: none;
      }
    }
  }
}