.review {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  &-block {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px 30px 40px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.49);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.49);
    background-color: $white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
    text-align: left;
    &-who {
      display: grid;
      grid-template-columns: 50px 1fr 1fr;
      margin-bottom: 20px;
      img {
        width: 46px;
      }
      &--assessment {
        text-align: right;
        &-rating {
          background: url(../../assets/images/raiting.png) no-repeat;
          width: 29px;
          height: 27px;
          background-size: cover;
          display: inline-block;
          &.success {
            background-position: 0 -27px;
          }
        }
      }
    }
  }
}

.form-review {
  max-width: 500px;
  margin: auto;
  h3 {
    text-align: center;
  }
  input, select, textarea {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid $black;
    color: $black;
    font-size: 14px;
    padding: 0 8px;
    &:disabled {
      background: #959da238;
    }
  }
  input, textarea {
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: $black;
      padding-left: 10px;
    }
  }
  input, select {
    height: 30px;
  }
  textarea {
    height: 130px;
  }
  &--button {
    text-align: center;
    button {
      background-color: $blue;
      border: 1px solid $blue;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 18px;
      padding: 15px 30px;
      text-align: center;
    }
  }
  &-thanks {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .review {
    &-block {
      &-who {
        grid-template-columns: 50px 1fr;
        &--assessment {
          text-align: center;
          grid-column: 1/3;
        }
      }
    }
  }
}