.sidebar {
  background-color: $white;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &-menu {
    ul {
      list-style: none;
      a {
        color: $black;
        font-size: 18px;
        li {
          padding: 8px 0;
        }
      }
    }
  }
}

