.slides {
  &-show {
    max-width: 1000px;
    position: relative;
    margin: auto;
    &-slide {
      text-align: center;
      &.fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      &--content {
        display: flex;
        justify-content: space-between;
      }
      &--text {
        color: $black;
        font-size: 15px;
        padding: 8px 0;
      }
    }
    &-prev, &-next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: $white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
    &-next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  }
  &-items {
    text-align: center;
    &-item {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: $super-light-grey;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &:hover {
        background-color: $light-grey;
      }
      &.active {
        background-color: $light-grey;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .slides {
    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}
