<template>
    <section class="form-review">
        <h3>Оставить отзыв</h3>
        <div v-if="review">
            <label for="full_name">Как вас зовут</label>
            <input
                    id="full_name"
                    type="text"
                    v-model="custom.name"
                    :class="{'field-error': errors.name}"
                    autocomplete="off"
            >
            <p v-show="errors.name" class="text-error">Поле с именем должно быть минимум из 2 букв</p>

            <label for="assessment">Оцените нашу работу</label>
            <select id="assessment" v-model="isAssessment">
                <option
                        v-for="assessment in assessments"
                        :key="assessment"
                        :value="assessment"
                >
                    {{assessment}}
                </option>
            </select>

            <label for="review">Оставьте ваш отзыв</label>
            <textarea
                    id="review"
                    v-model="custom.text"
                    :class="{'field-error': errors.text}"
                    autocomplete="off"
            />
            <p v-show="errors.text" class="text-error">Ваш отзыв должен быть минимум из 10 букв</p>

            <div class="form-review--button">
                <button
                    @click="sendForm"
                    :disabled="disableBtn"
                    :class="{'disabled': disableBtn}"
                >
                    Отправить отзыв <i class="fa fa-circle-o-notch fa-spin" v-show="disableBtn" />
                </button>
            </div>
        </div>
        <div v-else class="form-review-thanks">
            Спасибо за оставленный отзыв! <br />
            В ближайшее время мы опубликуем его.
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "form-review",
        data() {
            return {
                review: true,
                disableBtn: false,
                custom: {
                    name: '',
                    text: ''
                },
                errors: {
                    name: false,
                    text: false,
                },
                isAssessment: 5,
                assessments: [5, 4, 3, 2, 1]
            }
        },
        watch: {
            'custom.name'(sym) {
                if (sym.length >= 3) {
                    this.errors.name = false;
                }
            },
            'custom.text'(sym) {
                if (sym.length >= 10) {
                    this.errors.text = false;
                }
            }
        },
        methods: {
            sendForm() {
                this.errors.name = this.custom.name.length < 3;
                this.errors.text = this.custom.text.length < 10;

                if (Object.keys(this.errors).every(k => this.errors[k] === false)) {
                    const text = `Отзыв от клиента:
                        Имя: ${this.custom.name}, оценка: ${this.isAssessment}.
                        Описание отзыва: "${this.custom.text}"`;

                    this.disableBtn = true;

                    axios({
                        method: 'post',
                        url: 'http://37.1.218.208:4002/tost',
                        data: { message: text }
                    })
                        .then(() => this.review = false)
                        .catch(() => alert('Данные не могут быть отправлены'))
                        .finally(() => this.disableBtn = false);
                }
            }
        }
    }
</script>

<style scoped>

</style>
