<template>
    <section class="container">
        <section class="review">
            <h3>Отзывы</h3>
            <div v-for="review in reviews" :key="review.name" class="review-block">
                <div class="review-block-who">
                    <img :src="require(`@/assets/images/review/${review.photo ? review.photo : 'without_face.png'}`)" :alt="'Отзыв от ' + review.name">
                    <div>
                        <div><b>{{review.name}}</b></div>
                        <div>{{review.date}}</div>
                    </div>
                    <div class="review-block-who--assessment">
                        <div class="review-block-who--assessment-rating" :class="[review.assessment >= 1 ? 'success' : '']"></div>
                        <div class="review-block-who--assessment-rating" :class="[review.assessment >= 2 ? 'success' : '']"></div>
                        <div class="review-block-who--assessment-rating" :class="[review.assessment >= 3 ? 'success' : '']"></div>
                        <div class="review-block-who--assessment-rating" :class="[review.assessment >= 4 ? 'success' : '']"></div>
                        <div class="review-block-who--assessment-rating" :class="[review.assessment >= 5 ? 'success' : '']"></div>
                    </div>
                </div>
                <div class="review-block-review"><b>Комментарий: </b>{{review.comment}}</div>
            </div>
        </section>
        <form-review />
    </section>
</template>

<script>
    import FormReview from './FormReview'
    export default {
        name: 'Review',
        components: {
            FormReview
        },
        data() {
            return {
                reviews: [
                    {
                        name: 'Кирилл Степов',
                        photo: '',
                        date: '10 ноября 2019',
                        assessment: 5,
                        comment: 'Замечательный сервис!Очень рекомендую и буду рекомендовать!!!Огромное спасибо всем мастерам!Привели мою любимую машину в порядок,устранили такие проблемы,которые не могли мне устранить в другом месте.Самое важное для меня было то,что все грамотно объяснили! Список работ был не маленький,а цена очень!!!адекватная. Приятно когда люди занимаются своим делом профессионально!!!Спасибо вам большое)'
                    },
                    {
                        name: 'Максим Л.',
                        photo: '',
                        date: '28 октября 2019',
                        assessment: 5,
                        comment: 'Советую этот сервис чисто, тепло, уютно. Грамотные специалисты. Доступным языком объясняют даже сложные поломки. Приятный коллектив'
                    },
                    {
                        name: 'Денис В.',
                        photo: '',
                        date: '31 мая 2019',
                        assessment: 5,
                        comment: 'Хороший сервис,ребята знают свое дело и всегда помогут!спасибо.'
                    },
                    {
                        name: 'Алексей К.',
                        photo: '',
                        date: '10 апреля 2019',
                        assessment: 5,
                        comment: 'Ставил у данных ребят магнитолу 2 din+ камеру. Сделали все качественно и главное по адекватной цене, ниже чем в других сервисах.'
                    },
                    {
                        name: 'Вера Д.',
                        photo: '',
                        date: '30 октября 2018',
                        assessment: 5,
                        comment: 'Доверяю только D2, знают свое дело. Всегда работа на отлично'
                    },
                    {
                        name: 'Дмитрий М.',
                        photo: '',
                        date: '18 января 2018',
                        assessment: 5,
                        comment: 'Самый лучший сервис в котором был. Самые рукастые ребята и берут совсем не дорого'
                    }
                ]
            }
        }
    }
</script>

<!--{-->
<!--name: '',-->
<!--photo: '',-->
<!--date: '',-->
<!--assessment: 5,-->
<!--comment: ''-->
<!--}-->
