.about {
  &-certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 690px;
    margin: auto;

    &-doc {
      width: 300px;
      height: 300px;
      margin: 20px;
      border: 1px solid $black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
  }
}