.contacts {
  &-address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 30px;

    &-block {
      display: flex;
      align-items: center;

      &--description {
        address {
          margin-top: 15px;
        }

        p {
          font-weight: bold;
          margin: 30px 0;
        }
      }
    }
  }

  &-schema {
    text-align: center;

    &-maps {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &--prev, &--next {
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 50px;
        &:hover {
          opacity: 0.7;
        }
      }

      &--img {
        display: flex;
        align-items: center;
        &-background {
          width: 1100px;
          height: 740px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      &--prev {
        &:before {
          left: 0;
        }
      }
      &--next {
        &:before {
          right: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .contacts {
    &-schema {
      &-maps {
        &--img {
          &-background {
            width: 844px;
            height: 570px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contacts {
    &-address {
      grid-template-columns: 1fr;

      &-block {
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
      }

      &-map {
        justify-self: center;
      }
    }

    &-schema {
      &-maps {
        &--img {
          &-background {
            width: 624px;
            height: 420px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    &-address {
      grid-template-columns: 1fr;

      &-block {
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
      }

      &-map {
        justify-self: center;
      }
    }

    &-schema {
      &-maps {
        &--img {
          &-background {
            width: 200px;
            height: 130px;
          }
        }
      }
    }
  }
}
