.discounts {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  &-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    &-block {
      width: 460px;
      margin: 8px;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
      padding: 48px 24px;
      &--date {
        color: #7f828b;
      }
      &--percent {
        color: $red;
        font-size: 150px;
        margin: 40px 0;
        font-family: Lemon;
        max-width: 416px;
        text-shadow: 1px 1px 10px $red, 10px 1px 5px $black;
      }

      &--img {
        img {
          width: 100%;
          height: 154px;
          margin: 34px 0;
        }
      }
      &--text {
        height: 36px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      &--more {
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-not-sale {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .discounts {
    &-content {
      &-block {
        padding: 24px;
        width: 300px;
        &--percent {
          max-width: 260px;
          font-size: 94px;
        }
        &--text {
          height: 52px;
        }
      }
    }
  }
}
