.engine {
  &-section {
    text-align: center;
    &-step {
      &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &--div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 300px;
          border: 1px solid $super-light-grey;
          margin: 8px;
          padding-bottom: 16px;
          div {
            width: 268px;
            height: 298px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
          img {
            width: 298px;
            margin-bottom: 24px;
          }
          button, a {
            color: $white;
            background-color: $dark-red;
            border: 1px solid $dark-red;
            text-decoration: none;
            width: 200px;
            text-align: center;
            line-height: 50px;
            margin-top: 20px;
            font-size: 11px;
            &:hover {
              background-color: $light-red;
              border: 1px solid $light-red;
              cursor: pointer;
            }
          }
        }
      }
      &-back {
        background-color: $blue;
        border: 1px solid $blue;
        color: white;
        padding: 15px 30px;
        font-size: 14px;
        margin-top: 24px;
      }
    }
  }
}
