.entity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 18px;

  article {
    width: 600px;

    p {
      text-align: justify;
      text-indent: 16px;
      line-height: 36px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entity {
    height: 70vh;
  }
}

@media (max-width: 767px) {
  .entity {
    height: 100%;
  }
}
