.history {
  margin: 50px 0 30px;
  &-self {
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 36px;
    article {
      text-align: justify;
      text-indent: 16px;
    }
  }
  &-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    &-block {
      width: 300px;
      height: 300px;
      margin: 20px;
      border: 1px solid $black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .history {
    &-picture {
      &-block {
        padding: 8px 0;
      }
    }
  }
}
