.container {
  width: 1360px;
  margin: auto;
}

.content {
  padding: 32px 8px !important;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1359px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 1024px;
    padding: 0 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
  .content {
    padding: 132px 8px 32px !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 8px;
  }
  .content {
    padding: 132px 8px 32px !important;
  }
}

@import "history";
@import "services";
@import "service";
@import "payment";
@import "prices";
@import "engine";
@import "magazine";
@import "discounts";
@import "contacts";
@import "question";
@import "about";
@import "entity";
