.magazine {
  &-shop {
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
    &-description {
      display: flex;
      align-items: center;
      text-align: left;
      p {
        line-height: 36px;
      }
    }
    &-phone {
      background: url("../../assets/images/iphone.png") no-repeat;
      width: 400px;
      height: 800px;
      &--time {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
        text-align: center;
        font-size: 24px;
        padding: 20px 0;
        margin: 68px 24px 16px 23px;
      }
      &--sign {
        font-weight: bold;
        text-align: center;
        margin: 64px 0 24px;
        font-size: 18px;
      }
      &--text {
        margin: 0 32px 16px;
        position: relative;
        input {
          width: 100%;
          border: 1px solid $black;
          font-size: 16px;
          padding: 16px;
        }
        textarea {
          width: 100%;
          border: 1px solid $black;
          font-size: 16px;
          padding: 16px;
        }
      }
      &--confirm {
        margin: 0 32px 8px;
        font-size: 14px;
        a {
          color: $black;
        }
      }
      &--send {
        text-align: center;
        button {
          background-color: $blue;
          border: 1px solid $blue;
          color: $white;
          font-size: 20px;
          padding: 16px 64px;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .magazine {
    &-shop {
      grid-template-columns: 1fr;
      &-description {
        display: block;
        text-align: center;
        max-width: 400px;
        margin: auto auto 50px;
      }
      &-phone {
        width: 300px;
        height: 600px;
        margin: auto;
        background-size: contain;
        &--time {
          margin: 48px 20px 8px 17px;
          font-size: 20px;
          padding: 8px 0;
        }
        &--sign {
          margin: 0 0 8px;
          font-size: 16px;
        }
        &--text {
          font-size: 14px;
          margin: 0 32px 16px;
          label {
            i {
              display: none;
            }
          }
          input, textarea {
            font-size: 14px;
            padding: 8px;
          }
          textarea {
            height: 120px;
          }
        }
        &--confirm {
          margin: 0 32px 12px;
        }
        &--send {
          button {
            padding: 8px 56px;
          }
        }
      }
    }
  }
}
