.payment {
  h3 {
    text-align: center;
  }
  &-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    &-block {
      width: 300px;
      height: 300px;
      border: 1px solid $super-light-grey;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a {
        color: $white;
        background-color: $dark-red;
        text-decoration: none;
        width: 200px;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
        &:hover {
          background-color: $light-red;
        }
      }
    }
  }
}
