.prices {
  &-title {
    margin-bottom: 32px
  }
  &-body {
    font-weight: 600;
    tbody {
      tr {
        &:hover {
          background: $grey;
          color: $white;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .prices {
    &-body {
      width: 100%;
      overflow-x: auto;
      td {
        padding: 8px;
      }
    }
  }
}