.services {
  &-new {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  &-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    &-block {
      width: 300px;
      height: 300px;
      border: 1px solid $super-light-grey;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h5 {
        font-size: 15px;
      }
      img {
        width: 140px;
        height: 140px;
        padding: 8px;
        margin: 8px 0;
      }
      a {
        color: $white;
        background-color: $dark-red;
        text-decoration: none;
        width: 200px;
        text-align: center;
        line-height: 50px;
        margin-top: 20px;
        &:hover {
          background-color: $light-red;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    &-new {
      display: block;
      padding: 300px 8px 0;
      margin-bottom: -100px;
    }
  }
}

@media (max-width: 767px) {
  .services {
    &-new {
      display: block;
      padding: 100px 8px 0;
      margin-bottom: -100px;
    }
  }
}
