.service {
  margin-bottom: 500px;
  &-table {
    display: grid;
    grid-template-columns: 290px 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;
    table {
      width: 100%;
      font-weight: 600;
      thead {
        font-size: 18px;

        td {
          padding: 8px 0;
        }
      }
      tbody {
        td {
          a {
            color: $black;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &-main {
      td.text-left {
        padding-left: 4px;
      }
      .number {
        width: 5%;
      }
      .service {
        width: 80%;
      }
      .price {
        width: 15%;
      }
      tbody {
        tr:nth-child(2n) {
          background: $dark-grey;
        }
        tr {
          &:hover {
            background: $grey;
            color: $white;
            cursor: pointer;
            font-weight: bold;
          }

        }
      }
    }
  }
  &-selected {
    margin-top: -30px;
  }
}

@media (max-width: 1023px) {
  .service {
    margin-bottom: 4px;
    &-table {
      grid-template-columns: 1fr;
      &-main {
        grid-row: 1;
        .number {
          width: 10%;
        }
        .service {
          width: 60%;
        }
        .price {
          width: 30%;
        }
      }
    }
  }
}
