<template>
    <main class="services container">
        <h2>Услуги</h2>
        <h3>Что бы узнать цену, выбирите тип работ:</h3>
        <section class="services-list">
            <div v-for="item in list"
                 :key="item.id"
                 class="services-list-block"
            >
                <img :src="require(`@/assets/images/services/${item.id}.svg`)" :alt="`${item.title} в D2-сервисе`">
                <h5>{{item.title}}</h5>
                <router-link :to="'/services/' + item.id">Выбрать</router-link>
            </div>
        </section>
    </main>
</template>

<script>
    import LIST from './list'
    export default {
        name: "services",
        mixins: [LIST]
    }
</script>

<!--:style="{ backgroundImage: 'url(' + '~/assets/images/auto/' + image + '.jpg' + ')' }"-->