<template>
    <main class="service container">
        <template v-if="Object.keys(service).length">
            <h2>{{service.service}}</h2>
            <section class="service-table">
                <table border="1" cellspacing="0" cellpadding="0">
                    <thead class="bold">
                    <tr>
                        <td>Разделы</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in listService"
                        :key="index"
                    >
                        <td>
                            <router-link :to="`/services/${item.id}`">{{item.title}}</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table border="1" cellspacing="0" cellpadding="0" class="service-table-main">
                    <thead class="bold">
                        <tr>
                            <td class="number">#</td>
                            <td class="service text-left">Услуга</td>
                            <td class="price text-left">Цена</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in service.list"
                            :key="index"
                            @click="selectService(item)"
                        >
                            <td>{{index + 1}}</td>
                            <td class="text-left">{{item.work}}</td>
                            <td class="text-left">от {{item.price}} руб.</td>
                        </tr>
                    </tbody>
                </table>


            </section>

            <modal
                    name="call-back"
                    :width="760"
                    :height="410"
                    class="modals"
            >
                <SignRepair
                        @closeModal="$modal.hide('call-back')"
                        :additional_field="true"
                        :selected_service="selected"
                >
                    <template v-slot:clarification>
                       <div class="service-selected"> По услуге: <u><b>{{ selected }}</b></u></div>
                    </template>
                </SignRepair>
            </modal>
        </template>
        <template v-else>
            <div class="services-new">
                <h2>
                    Данная страница не найдена
                </h2>
            </div>
        </template>
    </main>
</template>

<script>
    import SignRepair from '@/components/SignRepair'
    import LIST from './list'
    export default {
        name: "Service",
        mixins: [ LIST ],
        components: { SignRepair },
        data() {
            return {
                service: {},
                selected: ''
            }
        },
        computed: {
            listService() {
                return this.list.filter(k => k.id !== this.$route.params.id);
            }
        },
        mounted() {
            this.service = require(`@/assets/docs/services/${this.$route.params.id}.json`);
        },
        updated() {
            this.service = require(`@/assets/docs/services/${this.$route.params.id}.json`);
        },
        methods: {
            selectService(service) {
                this.selected = service.work;
                this.$modal.show('call-back')
            }
        }
    }
</script>
