<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Д2 сервис - главная страница">
    <meta name="keywords" content="ремонт авто, автосервис, слесарный ремонт, ремонт ссанг йонг, дилерский центр,
    слесарка, кузовной ремонт, авто, запчасти, sang yong, ssangyong, после гарантии, ремонт санг йонга, техническая помощь,
    автомобиль, центр обслуживания, обслуживание, авто-няня, д2сервис, автосервис, диагностика авто, отремонтировать авто,
    подбор авто, автозапчасти,  замена расходников, покраска, станция технического обслуживания, ssang yong,
    то, постгарантийное обслуживание, пост-гарантийное, гарантия, качество, официальный, , ремонт ssang yong, Actyon,
    Actyon Sports, Actyon sports 2012, Kyron I, Kyron 1, Kyron, Kyron II, Kyron 2, Kyron III, Kyron 3, New Actyon,
    Rexton 1, Rexton I, Rexton 2, Rexton II, Rexton 3, Rexton III, Rodius, Stavic главная">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(55060777, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55060777" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
