<template>
    <main class="about container">
        <h2>О нас</h2>
        <article class="history-self">
            <h3>D2 service - компания организованная в 2017 г.</h3>
            <article>
                Штат компании состоит из специалистов, вышедших из дилерских центров
                имеющих за плечами богатый опыт работы с маркой, подтверждающих свои знания сертификатами завода
                изготовителя.
            </article>
            <article>Собственный склад запчастей по марке.</article>
            <article>
                Опыт наших специалистов позволяет выполнять полный спектр работ по обслуживанию и ремонту Вашего
                автомобиля SsangYong, в том числе ремонт дизельной аппаратуры, ремонт АКПП, проведение работ по
                адаптации после сложных ремонтов, изменения заводских прошивов для оптимизации работы узлов автомобиля.
            </article>
            <article>
                Возможности сервиса и квалификация наших мастеров позволяет производить ремонт автомобилей других марок,
                а наше подразделение по ремонту мототехники решит вопрос любой сложности с Вашим двухколесным другом
                или иной утилитарной техникой!
            </article>
        </article>
        <h3>Наши сертификаты:</h3>
        <CoolLightBox
                :items="certificates"
                :index="index"
                @close="index = null">
        </CoolLightBox>
        <section class="about-certificates">
            <div
                    class="about-certificates-doc"
                    v-for="(image, imageIndex) in certificates"
                    :key="imageIndex"
                    @click="index = imageIndex"
                    :style="{ backgroundImage: 'url(' +  image + ')' }"
            ></div>
        </section>
    </main>
</template>

<script>
    import one from '@/assets/images/skan/skan-1.png';
    import two from '@/assets/images/skan/skan-2.png';
    import three from '@/assets/images/skan/skan-3.png';
    import four from '@/assets/images/skan/skan-4.png';

    export default {
        name: "About",
        data() {
            return {
                certificates: [one, two, three, four],
                index: null
            }
        }
    }
</script>
