<template>
    <main class="contacts container">
        <h2>Наши контакты</h2>
        <section class="contacts-address">
            <section class="contacts-address-block">
                <div class="contacts-address-block--description">
                    <h3>D2 Service</h3>
                    <article>
                        Мы рады видеть Вас ежедневно с 10:00 до 22:00 по адресу:
                    </article>
                    <address>
                        г. Москва, Большой Волоколамский проезд д. 10А
                    </address>
                    <p>Телефон для связи:</p>
                    <a href="tel:+74993509709">+7 (499) 350 97 09</a>
                </div>
            </section>
            <section class="contacts-address-map">
                <OnlineMap />
            </section>
        </section>
        <section class="contacts-schema">
            <h3>Схема проезда</h3>
            <CoolLightBox
                    :items="items"
                    :index="index"
                    @close="index = null">
            </CoolLightBox>
            <div class="contacts-schema-maps">
                <div class="contacts-schema-maps--prev" @click="nextPhoto('back')">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true" />
                </div>
                <div class="contacts-schema-maps--img">
                    <div
                            @click="index = imageX"
                            :style="{ backgroundImage: 'url(' +  items[imageX] + ')'  }"
                            class="contacts-schema-maps--img-background"
                    ></div>
                </div>
                <div class="contacts-schema-maps--next" @click="nextPhoto('next')">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true" />
                </div>
            </div>
        </section>
    </main>
</template>

<script>
    import one from '@/assets/images/schema/1.jpg';
    import two from '@/assets/images/schema/2.jpg';
    import three from '@/assets/images/schema/3.jpg';
    import OnlineMap from '@/components/OnlineMap.vue';

    export default {
        name: 'Contacts',
        components: { OnlineMap },
        data() {
            return {
                imageX: 0,
                items: [one, two, three],
                index: null
            }
        },
        methods: {
            nextPhoto(step) {
                if (step === 'back') {
                    if (this.imageX === 0) {
                        this.imageX = 2
                    } else {
                        this.imageX -= 1
                    }
                } else {
                    if (this.imageX === 2) {
                        this.imageX = 0
                    } else {
                        this.imageX += 1
                    }

                }
            }
        }
    }
</script>
