<template>
    <section class="discounts container">
        <h2>Скидки и акции</h2>
        <section class="discounts-content">
            <div v-show="discounts.length"
                 v-for="(item, index) in discounts"
                 :key="index"
                 class="discounts-content-block"
            >
                <div class="discounts-content-block--date">{{item.dateTo}}</div>
                <div v-if="item.percent !== ''" class="discounts-content-block--percent">{{item.percent}}%</div>
                <div v-if="item.percent === ''" class="discounts-content-block--img">
                    <img :src="require(`@/assets/images/discount/${item.image}.svg`)">
                </div>
                <div class="discounts-content-block--text">
                    <p>{{item.title}}</p>
                </div>
                <div class="discounts-content-block--more" @click="showModal(item)">Узнать
                    подробнее
                </div>
            </div>
            <div v-show="!discounts.length" class="discounts-content-not-sale">В настоящий момент активных акций нет.</div>
        </section>

        <modal
                name="promotion"
                :width="760"
                :height="840"
                class="modals"
        >
            <div class="modals-close" @click="$modal.hide('promotion')">X</div>
            <div class="modals-body">
                <div v-if="isPromo.percent !== ''" class="modals-body--percent">{{isPromo.percent}}%</div>
                <div v-if="isPromo.percent === ''" class="modals-body--image">
                    <img :src="require(`@/assets/images/discount/${isPromo.image}.svg`)">
                </div>
                <div class="modals-body--date">
                    <b>Дата проведения:</b>
                    <p>{{isPromo.dateTo}} - {{isPromo.dateFrom ? isPromo.dateFrom : 'срок не ограничен'}}</p>
                </div>
                <div class="modals-body--description">
                    <b>Подробнее:</b>
                    <p v-for="(key, i) in isPromo.description" :key="i">{{key}}</p>
                </div>
            </div>
        </modal>

    </section>
</template>

<script>
    export default {
        name: 'Discounts',
        data() {
            return {
                discounts: [
                    {
                        dateTo: '1 октябрь 2019',
                        dateFrom: '',
                        image: '',
                        percent: '10',
                        title: 'Постоянным клиентам скидка!',
                        description: [
                            'Для всех наших постоянных клиентов действует система лояльности.',
                            'Для каждого постоянного клиента действует скидка в размере 10% на работы и запасные части.',
                            'Подробности уточняйте у вашего мастера.',
                            '** не суммируются с остальными акциями.'
                        ]
                    },
                    {
                        dateTo: '1 декабря 2019',
                        dateFrom: '',
                        image: '',
                        percent: '15',
                        title: 'Скидка при первом обращение',
                        description: [
                            'Скидка 15% распространяется на все работы для новых клиентов при первом обращение.',
                            'При приобретение у нас запасных запчатей дополнительная скидка 10%.',
                            'Подробности уточняйте у вашего мастера.',
                            '** не суммируются с остальными акциями.'
                        ]
                    },
                    // {
                    //     dateTo: '3 января 2020',
                    //     dateFrom: '',
                    //     image: '',
                    //     percent: '3',
                    //     title: 'Оплати наличными и получи скидку!',
                    //     description: [
                    //         'Оплати наличными и получи 3% скидки на выполненые работы.',
                    //         'Скидка не распространяется при первом обращение.',
                    //         'Подробности уточняйте у вашего мастера.'
                    //     ]
                    // },
                    {
                        dateTo: '1 февраля 2020',
                        dateFrom: '',
                        image: 'lubricant',
                        percent: '',
                        title: 'Бесплатная замена масла при покупки расходных материалов',
                        description: [
                            'Бесплатная замена масла при покупки расходных материалов.',
                            'Подробности уточняйте по телефону или у вашего мастера.'
                        ]
                    },
                    {
                        dateTo: '1 февраля 2020',
                        dateFrom: '',
                        image: 'www',
                        percent: '',
                        title: 'Проверка авто перед покупкой',
                        description: [
                            'Проверка авто перед покупкой. Предусматривает технический осмотр всех узлов и агрегатов, проверку ЛКП, проверку наличия подушек ' +
                            'безопасности, визуальный осмотр геометрии кузова и точек ремонтного воздействия при жестяных ' +
                            'работах.',
                            'Проверка задолжностей, делопроизводств, история ГИБДД, отчет по информационным агрегаторам. ' +
                            'Помощь правильно понять и истолковать ' +
                            'полученную информации.',
                            'Тестовая поездка на автомобиле со специалистом.',
                            'Стоимость услуги - 4000 руб.',
                            'Подробности уточняйте у вашего мастера.'
                        ]
                    },
                    {
                        dateTo: '1 марта 2020',
                        dateFrom: '',
                        image: 'inspection',
                        percent: '',
                        title: '«В дальнюю дорогу»',
                        description: [
                            'Диагностика «В дальнюю дорогу» включает в себя полный комплекс услуг по технической ' +
                            'проверке авто + проверку исправности механизма запасного колеса, проверку состояния колес ' +
                            '(глубина протектора, износ, включая запасное), давление колес (включая запасное), шприцевание' +
                            ' карданных валов.',
                            'Тестовая поездка на автомобиле со специалистом.',
                            'Стоимость услуги - 3000 руб.',
                            'Подробности уточняйте у вашего мастера.'
                        ]
                    },
                ],
                isPromo: {}
            }
        },
        methods: {
            showModal(arg) {
                this.$modal.show('promotion');
                this.isPromo = arg;
            }
        }
    }
</script>

<!-- Пример полей для проведения акциии. Каждое поле - новая акция -->

<!--{-->
<!--dateTo: 'дата_проведения_с_какого_числа',-->
<!--dateFrom: 'дата_когда_заканчивается_акция',-->
<!--percent: 1,-->
<!--description: ['Название_акции', 'Ее_описание', 'Каждая_строка_с_новой_кавычки']-->
<!--}-->
