<template>
    <section class="entity container">
        <article>
            <h2>D2 SERVICE</h2>
            <p>Наша компания занимается обслуживанием автопарков компаний.</p>
            <p>Мы предлагаем выгодные условия для сотрудничества, а так же бонусы сотрудникам, привлекающим свои
                компании к
                обслуживанию.</p>

            <p>Будем рады ответить на все Ваши вопросы и отправить коммерческое предложение по обслуживанию.</p>

            <p>Телефон для связи: <a href="tel:+74993509709">+7 (499) 350 97 09</a></p>
        </article>
    </section>
</template>

<script>
    export default {
        name: 'Entity'
    }
</script>

<style scoped>

</style>
