<template>
  <div class="container">
    <h2>ДОБРО ПОЖАЛОВАТЬ НА САЙТ D2-SERVICE</h2>
    <slider />
    <history />
    <review />
  </div>
</template>

<script>
  import Slider from '@/components/NewSlider'
  import History from "@/components/History";
  import Review from "@/components/review";

  export default {
    name: 'Home',
    components: {
      History,
      Slider,
      Review
    }
  }
</script>
