<template>
    <section class="container magazine">
        <h2>Магазин</h2>
        <section class="magazine-shop">
            <div class="magazine-shop-description">
                <article>
                    <h3>Вы можете заказать через нас запчасти:</h3>
                    <p>1) Укажите VIN и что необходимо для вашего автомобиля;</p>
                    <p>2) Вы можете позвонить по номеру телефона <a href="tel:+74993509709">+7(499) 350 97 09</a>;</p>
                    <p>3) Сделать заказ на ресепшене Д2-Сервиса</p>
                </article>
            </div>
            <call-back />
        </section>
    </section>
</template>

<script>
    import CallBack from '@/components/CallBack';
    export default {
        name: 'magazine',
        components: {
            CallBack
        }
    }
</script>

<style scoped>

</style>
