<template>
    <main class="question container">
        <h2>Вопрос-ответ</h2>
        <template v-if="!answer">
            <h3>Здесь Вы можете нам задать свой вопрос:</h3>
            <section class="question-answer form-review">
                <label for="full_name">Как вас зовут</label>
                <input
                        id="full_name"
                        type="text"
                        v-model="custom.name"
                        :class="{'field-error': errors.name}"
                        autocomplete="off"
                >
                <p v-show="errors.name" class="text-error">Поле с именем должно быть минимум из 2 букв</p>
                <label for="communication">Укажите способ обратной связи</label>
                <select
                        id="communication"
                        v-model="custom.communication"
                        :class="{'field-error': errors.communication}"
                >
                    <option value disabled selected>Выберите способ</option>
                    <option
                            v-for="(communication, index) in communications"
                            :key="index"
                            :value="communication"
                    >
                        {{communication}}
                    </option>
                </select>
                <p v-show="errors.communication" class="text-error">Выберите способ обратной связи</p>

                <label for="contact">
                    {{custom.communication === '' ?
                    'Выберите способ связи' : custom.communication === 'направить на E-mail' ?
                    'Укажите вашу почту' : 'Укажите ваш телефон'}}
                </label>
                <input
                        id="contact"
                        v-model="custom.contact"
                        :disabled="custom.communication === ''"
                        :type="custom.communication === 'направить на E-mail' ? 'text' : 'tel'"
                        v-mask="custom.communication === 'направить на E-mail' ? 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' : '+7(###)###-##-##'"
                        :class="{'field-error': errors.contact}"
                        autocomplete="off"
                >
                <p v-show="errors.contact" class="text-error">
                    {{custom.communication === '' ?
                    'Способ обратной связи не выбран' :custom.communication === 'направить на E-mail' ?
                    'Поле e-mail не валиден. Пример, как должен быть указан почтовый ящик: example@mail.ru' :
                    'Укажите телефон полностью'}}
                </p>

                <label for="question">Опишите ваш вопрос</label>
                <textarea
                        id="question"
                        v-model="custom.question"
                        :class="{'field-error': errors.question}"
                        autocomplete="off"
                />
                <p v-show="errors.question" class="text-error">Ваш вопрос должнен быть минимум из 10 букв</p>

                <div class="form-review--button">
                    <button
                            @click="sendForm"
                            :disabled="disableBtn"
                            :class="{'disabled': disableBtn}"
                    >
                        Задать вопрос <i class="fa fa-circle-o-notch fa-spin" v-show="disableBtn" />
                    </button>
                </div>

            </section>
        </template>
        <template v-else>
            <h3>Вопрос отправлен!</h3>
            <p class="question-end">В ближайшее время с Вами свяжется наш мастер и предоставит подробный ответ.</p>
        </template>
    </main>
</template>

<script>
    // eslint-disable-next-line no-useless-escape
    const re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    import axios from "axios";

    export default {
        name: "QuestionAnswer",
        data() {
            return {
                custom: {
                    name: '',
                    communication: '',
                    contact: '',
                    question: ''
                },
                communications: [
                    'по звонку',
                    'написать в WhatsApp',
                    'написать в Telegram',
                    'написать в Viber',
                    'направить на E-mail'
                ],
                errors: {
                    name: false,
                    communication: false,
                    contact: false,
                    question: false
                },
                disableBtn: false,
                answer: false
            }
        },
        watch: {
            'custom.name'(symbol) {
                if (symbol.length >= 2) {
                    this.errors.name = false;
                }
            },
            'custom.communication'(symbol) {
                if (symbol.length > 0) {
                    this.errors.communication = false;
                }
            },
            'custom.contact'(symbol) {
                if (this.custom.communication === 'направить на E-mail') {
                    this.errors.contact = !re.test(this.custom.contact);
                } else {
                    if (symbol.length >= 16) {
                        this.errors.contact = false;
                    }
                }
            },
            'custom.question'(symbol) {
                if (symbol.length >= 10) {
                    this.errors.question = false;
                }
            },
        },
        methods: {
            sendForm() {
                const flag = !re.test(this.custom.contact);
                this.errors.name = this.custom.name.length < 2;
                this.errors.communication = this.custom.communication.length === 0;
                this.errors.contact = this.custom.communication === 'направить на E-mail' ? flag : this.custom.contact.length < 16;
                this.errors.question = this.custom.question.length < 10;

                if (Object.keys(this.errors).every(k => this.errors[k] === false)) {
                    const text = `Клиент ${this.custom.name} задал вопрос.
                        Ответ ${this.custom.communication} на ${this.custom.contact}.
                        Суть вопроса: 
                        ${this.custom.question}`;

                    this.disableBtn = true;

                    axios({
                        method: 'post',
                        url: 'http://37.1.218.208:4002/tost',
                        data: { message: text }
                    })
                        .then(() => this.answer = true)
                        .catch(() => alert('Данные не могут быть отправлены'))
                        .finally(() => this.disableBtn = false);
                }
            }
        }
    }
</script>
