<template>
    <section class="container engine">
        <section v-if="information" class="engine-section">
            <h2>Расчет ТО для SsangYong {{driveEdit(information.car)}}</h2>
            <div v-if="step === 1" class="engine-section-step">
                <h3>Выберите двигатель:</h3>
                <div class="engine-section-step-block">
                    <div v-for="motor in information.motors" :key="motor.image" class="engine-section-step-block--div">
                        <div :style="{ backgroundImage: 'url(' + require('@/assets/images/spares/engine/' + motor.image + '.jpg' + '') + ')' , wd: {id: '', drive: ''} }"></div>
                        <span>{{motor.engine}}</span>
                        <button @click="selectMotor(motor)">Выбрать</button>
                    </div>
                </div>
                <button @click="$router.push('/payment')" class="engine-section-step-back">Вернуться назад</button>
            </div>
            <div v-else-if="step === 2" class="engine-section-step">
                <h3>Выберите трансмиссию:</h3>
                <span>{{block.engine}}</span>
                <div class="engine-section-step-block">
                    <div v-for="(transmission, index) in block.transmissions" :key="transmission.picture + '_' + index" class="engine-section-step-block--div">
                        <div
                                :style="{ backgroundImage: 'url(' + require('@/assets/images/spares/transmission/' + transmission.picture + '.jpg' + '') + ')' , wd: {id: '', drive: ''} }"
                        ></div>
                        <span>{{transmission.type}}</span>
                        <p v-if="transmission.wd.id">{{transmission.wd.drive}} ({{transmission.wd.id}})</p>
                        <a @click="openPrice(information, block, transmission)">Регламент ТО с ценами</a>

                    </div>
                </div>
                <button @click="step = 1" class="engine-section-step-back">Указать другой двигатель</button>
            </div>
            <Price
                    v-else-if="step === 3"
                    :auto="selected_car"
            />
        </section>
        <section v-else class="engine-no-section">
            <h2>Описание данного автомобиля отсутствует</h2>
        </section>
    </section>
</template>

<script>
    import Price from './Price'
    export default {
        name: "Cars",
        components: {
          Price
        },
        data() {
            return {
                information: '',
                step: 1,
                block: [],
                selected_car: {
                    model: '',
                    motor: '',
                    motor_id: '',
                    transmission: '',
                    transmission_id: '',
                    wd: '',
                    drive: ''
                },
                cars: [
                    {
                        car: 'Actyon',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (4 ст.)', picture: 'AKPP-4' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 2.3',
                                image: 'G-2.3',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (4 ст.)', picture: 'AKPP-4' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Actyon_sports',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Actyon_sports_2012',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Kyron_i',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (4 ст.)', picture: 'AKPP-4' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 2.3',
                                image: 'G-2.3',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (4 ст.)', picture: 'AKPP-4' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Kyron_ii',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 2.3',
                                image: 'G-2.3',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'New_actyon',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '4WD', drive: 'Полный привод'} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '4WD', drive: 'Полный привод'} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '2WD', drive: 'Передний привод'} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '2WD', drive: 'Передний привод'} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 2.0',
                                image: 'G-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '4WD', drive: 'Полный привод'} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '4WD', drive: 'Полный привод'} },
                                    {type: 'Автоматическая КПП DS16 (6 ст.)', picture: 'AKPP-6' , wd: {id: '2WD', drive: 'Передний привод'} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '2WD', drive: 'Передний привод'} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Rexton_i',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.7',
                                image: 'DT-2.7',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 2.3',
                                image: 'G-2.3',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 3.2',
                                image: 'G-3.2',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Rexton_ii',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.7',
                                image: 'DT-2.7',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 3.2',
                                image: 'G-3.2',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Rexton_iii',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.7 XDI',
                                image: 'DT-2.7-XDI',
                                transmissions: [
                                    {type: 'Автоматическая КПП BTRA (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} },
                                    {type: 'Механическая КПП', picture: 'MKPP' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Дизельный двигатель 2.7 XVT',
                                image: 'DT-2.7',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC5 (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 3.2',
                                image: 'G-3.2',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC5 (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Rodius',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.7',
                                image: 'DT-2.7',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC5 (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            },
                            {
                                engine: 'Бензиновый двигатель 3.2',
                                image: 'G-3.2',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC5 (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    },
                    {
                        car: 'Stavic',
                        motors: [
                            {
                                engine: 'Дизельный двигатель 2.0',
                                image: 'DT-2.0',
                                transmissions: [
                                    {type: 'Автоматическая КПП DC5 (5 ст.)', picture: 'AKPP-5' , wd: {id: '', drive: ''} }
                                ]
                            }
                        ]
                    }
                ]
            }
        },
        created() {
            let route = this.$route.params.id;
            route = route[0].toUpperCase() + route.slice(1);
            const car = this.$data.cars.find(key => key.car === route);
            this.information = car !== undefined ? car : ''
        },
        methods: {
            driveEdit(drive) {
                return drive.replace(/_/g, ' ')
            },
            selectMotor(engine) {
                this.block = engine;
                this.step = 2;
            },
            openPrice({car}, {engine, image}, {type, picture, wd}) {
                this.selected_car.model = car;
                this.selected_car.motor = engine;
                this.selected_car.motor_id = image;
                this.selected_car.transmission = type;
                this.selected_car.transmission_id = picture;
                this.selected_car.wd = wd.id;
                this.selected_car.drive = wd.drive;
                this.step = 3;
            }
        }
    }
</script>