<template>
    <section class="container payment">
        <h2>Расчёт стоимости ТО</h2>
        <h3>Что бы узнать цену на ТО и какие работы в него входят, выберите свой SsangYong</h3>
        <section class="payment-list">
            <div v-for="(car, index) in cars" :key="index" class="payment-list-block">
                <img :src="require(`@/assets/images/auto/${car}.jpg`)" :alt="`Расчет ТО для ${titleCase(car)} в D2-сервисе`">
                <h5>{{titleCase(car)}}</h5>
                <router-link :to="'/payment/' + car.toLowerCase()">Выбрать</router-link>
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        name: 'Payment',
        data() {
            return {
                cars: [
                    'Actyon',
                    'Actyon_sports',
                    'Actyon_sports_2012',
                    'Kyron_I',
                    'Kyron_II',
                    'New_actyon',
                    'Rexton_I',
                    'Rexton_II',
                    'Rexton_III',
                    'Rodius',
                    'Stavic'
                ]
            }
        },
        methods: {
            titleCase(str) {
                str = str.replace(/_/g, ' ');
                let splitStr = str.split(' ');
                for (let i = 0; i < splitStr.length; i++) {
                    splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                }
                return splitStr.join(' ');
            }
        }
    }
</script>