<template>
    <div class="prices">
        <template v-if="Object.keys(specifications).length">
            <div class="prices-title text-center">
                {{auto.motor}}, {{auto.transmission}}
                <p v-if="this.auto.wd">{{this.auto.drive}} ({{this.auto.wd}})</p>
            </div>
            <div class="prices-body">
                <table border="1" width="100%" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td width="50%" colspan="6" class="bold large-text">Перечень проверочных операций</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="50%" class="text-left">По пробегу (т.км):</td>
                            <td width="10%">10 50 70</td>
                            <td width="10%">20 40 80 100</td>
                            <td width="10%">30</td>
                            <td width="10%">60</td>
                            <td width="10%">90</td>
                        </tr>
                        <tr>
                            <td class="text-left">По пробегу (т.км):</td>
                            <td>12, 60, 84</td>
                            <td>24, 48, 96</td>
                            <td>36</td>
                            <td>72</td>
                            <td>108</td>
                        </tr>
                        <tr v-for="(item, index) in operations" :key="index">
                            <td  class="text-left">{{item.operation}}</td>
                            <td v-for="(key, x) in item.produce" :key="x">
                                <i class="fa" :class="[key ? 'fa-check' : 'fa-circle-thin']" aria-hidden="true" />
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" colspan="6" class="bold large-text">Перечень операций по замене</td>
                        </tr>
                        <tr>
                            <td width="50%" class="text-left">По пробегу (т.км):</td>
                            <td width="10%">10 50 70</td>
                            <td width="10%">20 40 80 100</td>
                            <td width="10%">30</td>
                            <td width="10%">60</td>
                            <td width="10%">90</td>
                        </tr>
                        <tr v-for="(item, index) in specifications.list_replacement" :key="'list_replacemen-t'+index">
                            <td class="text-left">{{item.item}}</td>
                            <td v-for="(key, x) in item.produce" :key="'list_replacement-'+ x">
                                <i
                                    v-show="key !== 0"
                                    class="fa"
                                    :class="[key === 0 ? 'fa-check' : key === 1 ? 'fa-times' : 'fa-circle-thin']" aria-hidden="true"
                                />
                            </td>
                        </tr>
                        <tr class="grey">
                            <td class="text-left">Количество нормо/часов</td>
                            <td v-for="(key, x) in specifications.norm_hour" :key="'norm_hour-'+ x">{{key}}</td>
                        </tr>
                        <tr class="grey">
                            <td class="text-left">Стоимость работ, рубли</td>
                            <td v-for="(key, x) in specifications.price_work" :key="'price_work-'+ x">{{key}}</td>
                        </tr>
                        <tr class="grey">
                            <td class="text-left">Стоимость  з\ч, рубли</td>
                            <td v-for="(key, x) in specifications.price_work" :key="'price_repair_part-'+ x">{{key}}</td>
                        </tr>
                        <tr class="grey bold">
                            <td class="text-left">Итого стоимость ТО,  рубли:</td>
                            <td v-for="(key, x) in specifications.total" :key="'total-'+ x">{{key}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <template v-else>
            <section class="services-new">
                <h2>Автомобиль с данными критериями отстутсвует в списке!!!</h2>
            </section>
        </template>
    </div>
</template>

<script>
    export default {
        name: 'Price',
        props: ['auto'],
        data () {
            return {
                operations: [],
                specifications: {}
            }
        },
        mounted() {
            let link_verification_operation;

            if (this.auto.model === 'Actyon' && this.auto.motor_id === 'D-2.0') {
                link_verification_operation = require('@/assets/docs/prices/verification_operation-only_action_dt-2.0.json');
                this.operations = link_verification_operation.verification_operation;
            } else {
                link_verification_operation = require('@/assets/docs/prices/verification_operation-only_action_dt-2.0.json');
                this.operations = link_verification_operation.verification_operation;
            }

            const drive = this.auto.wd ? `_${this.auto.wd}` : '';
            const { price } = require(`@/assets/docs/prices/${this.auto.model}_${this.auto.motor_id}_${this.auto.transmission_id}${drive}.json`);
            this.specifications = price;
        }
    }
</script>

<style scoped lang="scss">
    td.text-left {
        padding-left: 4px;
    }
    .large-text {
        font-size: 18px;
        padding: 8px;
    }
    .grey {
        background: #959da238;
    }
</style>