<template>
    <div class="magazine-shop-phone">
        <div class="magazine-shop-phone--time">Закажи онлайн</div>

        <template v-if="order">
            <div class="magazine-shop-phone--text">
                <label for="surname">Как к Вам обращаться?</label>
                <input
                        type="text"
                        id="surname"
                        :class="{'field-error': errors.name}"
                        v-model="custom.name"
                        autocomplete="off"
                />
                <p v-show="errors.name" class="text-error error-input-magazine">Поле имя может быть минимум из 3 букв</p>
            </div>

            <div class="magazine-shop-phone--text">
                <label for="phone">Ваш телефон?</label>
                <input
                        type="tel"
                        id="phone"
                        :class="{'field-error': errors.phone}"
                        v-model="custom.phone"
                        v-mask="'+7(9##)###-##-##'"
                        autocomplete="off"
                />
                <p v-show="errors.phone" class="text-error error-input-magazine">Поле телефон должен быть из 10 цифр</p>
            </div>

            <div class="magazine-shop-phone--text">
                <label for="vin">VIN - номер автомобиля <i>(17 знаков)</i></label>
                <input
                        type="text" id="vin"
                        :class="{'field-error': errors.vin}"
                        v-model="custom.vin"
                        v-mask="'NNNNNNNNNNNNNNNNN'"
                        class="text-transform-uppercase"
                        autocomplete="off"
                />
                <p v-show="errors.vin" class="text-error error-input-magazine">Поле VIN должен быть из 17 символов</p>
            </div>

            <div class="magazine-shop-phone--text">
                <label for="support">Перечень запчастей:</label>
                <textarea
                        name="support"
                        id="support"
                        cols="30"
                        rows="10"
                        :class="{'field-error': errors.spare_parts}"
                        v-model="custom.spare_parts"
                />
                <p v-show="errors.spare_parts" class="text-error error-input-magazine">Поле Перечень запчастей может быть минимум из 3 букв</p>
            </div>

            <div class="magazine-shop-phone--confirm">
                <input type="checkbox" id="confirm" v-model="confirm">
                <label for="confirm">
                    Согласие на обработку
                    <a href="http://check-point.pro/wp-content/uploads/2019/04/Terms_Of_Use-check-point.pro-.pdf" target="_blank">персональных
                        данных</a>
                </label>
            </div>

            <div class="magazine-shop-phone--send">
                <button
                        @click="sendSpareParts"
                        :disabled="disableBtn"
                        :class="{'disabled': disableBtn}"
                >
                    Заказать <i class="fa fa-circle-o-notch fa-spin" v-show="disableBtn" />
                </button>
            </div>
        </template>

        <template v-else>
            <div class="magazine-shop-phone--text">
                Ваш заказ принят. <br />
                В ближайшее время мы с вами свяжемся! <br />
            </div>
        </template>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'CallBack',
        data() {
            return {
                order: true,
                disableBtn: false,
                custom: {
                    name: '',
                    phone: '+7(9',
                    vin: '',
                    spare_parts: '',
                    personal_data: true
                },
                errors: {
                    name: false,
                    phone: false,
                    vin: false,
                    spare_parts: false
                },
                confirm: true
            }
        },
        watch: {
            'custom.name'(symbol) {
                if (symbol.length >= 3) {
                    this.errors.name = false;
                }
            },
            'custom.phone'(symbol) {
                if (symbol.length >= 16) {
                    this.errors.phone = false;
                }
            },
            // 'custom.vin'(symbol) {
            //     if (symbol.length === 17) {
            //         this.errors.vin = false;
            //     }
            // },
            'custom.spare_parts'(symbol) {
                if (symbol.length >= 3) {
                    this.errors.spare_parts = false;
                }
            }
        },
        methods: {
            sendSpareParts() {
                this.errors.name = this.custom.name.length < 3;
                this.errors.phone = this.custom.phone.length < 16;
                // this.errors.vin = this.custom.vin.length !== 17;
                this.errors.spare_parts = this.custom.spare_parts.length < 3;

                if (Object.keys(this.errors).every(k => this.errors[k] === false)) {
                    const text = `Онлайн заказ:
                        ${this.custom.name}, ${this.custom.phone}.
                        VIN: ${this.custom.vin.toUpperCase()}
                        Перечень запчастей: ${this.custom.spare_parts}.
                        На обработку данных ${this.confirm ? 'согласился.' : 'отказался.'}`;

                    this.disableBtn = true;

                    axios({
                        method: 'post',
                        url: 'http://37.1.218.208:4002/tost',
                        data: { message: text }
                    })
                        .then(() => this.order = false)
                        .catch(() => alert('Данные не могут быть отправлены'))
                        .finally(() => this.disableBtn = false);
                }
            }
        }
    }
</script>

<style scoped>
    .error-input-magazine {
        position: absolute;
        background: #fff;
        z-index: 1;
    }
    @media (max-width: 767px) {
        .error-input-magazine {
            font-size: 12px;
        }
    }
</style>
