<template>
    <footer>
        <section class="container footer">
            <router-link class="footer-logo" to="/" />
            <nav class="footer-menu">
                <ul>
                    <router-link v-for="item in menu" :key="item.link" :to="item.link">
                        <li>{{item.text}}</li>
                    </router-link>
                </ul>
            </nav>
            <hr class="footer-border">
            <router-link class="footer-news" to="/discounts">Новости и акции</router-link>
            <div class="footer-sign">
                <button @click="$modal.show('sign')" class="footer-sign-button">Запись на ремонт</button>
            </div>
            <ul class="footer-social">
                <a v-for="item in social" :key="item.name" :href="item.link" target="_blank">
                    <li :class="'footer-social--' + item.name" />
                </a>
            </ul>
            <div class="footer-copyright">© 2017-{{currentYear}} <br /> D2-SERVICE</div>
            <router-link class="footer-entity" to="/entity">Юридическим лицам</router-link>
            <article class="footer-about">
                Вся представленная на сайте информация, касающаяся автомобилей и сервисного обслуживания, носит информационный
                характер и не является публичной офертой, определяемой положениями ст. 437 (2) ГК РФ. Все цены указанные на
                данном сайте носят информационный характер и являются максимально рекомендуемыми розничными ценами по расчетам
                «D2-SERVICE». Для получения подробной информации обращайтесь по номеру телефона
                <a href="tel:8 (499) 350 97 09">8 (499) 350 97 09</a>. Опубликованная на данном сайте информация может
                быть изменена в любое время без предварительного уведомления.
            </article>
        </section>
        <modal
                name="sign"
                :width="760"
                :height="360"
                class="modals"
        >
            <SignRepair
                    @closeModal="$modal.hide('sign')"
                    :text="true"
            />
        </modal>
    </footer>
</template>

<script>
    import SignRepair from '../components/SignRepair'
    export default {
        name: 'Footer',
        components: {SignRepair},
        props: ['social'],
        data () {
            return {
                menu: [
                    {link: '/services', text: 'Услуги'},
                    {link: '/payment', text: 'Расчет ТО'},
                    {link: '/magazine', text: 'Магазин'},
                    {link: '/contacts', text: 'Контакты'}
                ]
            }
        },
        computed: {
            currentYear() {
                return new Date().getFullYear();
            }
        }
    }
</script>

<style scoped>

</style>
