<template>
  <header>
    <section class="container header">
      <div class="logo">
        <a class="logo-d2" href="http://d2-service.ru/" target="_blank" />
        <router-link class="logo-sang-young" to="/" />
      </div>
      <nav class="main-menu">
        <ul>
          <router-link
            v-for="item in menu"
            :key="item.link"
            :to="item.link"
          >
            <li :class="[$route.path === `${item.link}` ? 'active-link' : '']">
              {{item.text}}
            </li>
          </router-link>
        </ul>
      </nav>
      <div class="social">
        <ul class="social-network">
          <a v-for="item in social" :key="item.name" :href="item.link" target="_blank">
            <li :class="'social-network--' + item.name" />
          </a>
        </ul>
      </div>
      <div class="hamburger">
        <button class="hamburger-menu"
                @click="$emit('showSidebar')">
          <span 
            :class="[ hamburger ? 'hamburger-menu-open hamburger-menu-close' : 'hamburger-menu-open' ]"
          />
        </button>
      </div>
    </section>
  </header>
</template>

<script>
  export default {
    name: 'Header',
    props: ['menu', 'social', 'hamburger']
  }
</script>

<style scoped>

</style>
