<template>
    <section class="history container">
        <h2>Наш сервис</h2>
        <article class="history-self">
            <article>
                Мы верим в то, что качество сервиса целиком зависит от людей и их отношения к делу, поэтому все силы и
                внимание уделяем атмосфере и качеству работы в нашем автосервисе.
            </article>
            <article>
                Соотношение высокого качества обслуживания и демократичных цен убедит вас остановить выбор на нас.
            </article>
        </article>
        <CoolLightBox
                :items="items"
                :index="index"
                @close="index = null">
        </CoolLightBox>
        <section class="history-picture">
            <div
                    class="history-picture-block"
                    v-for="(image, imageIndex) in items"
                    :key="imageIndex"
                    @click="index = imageIndex"
                    :style="{ backgroundImage: 'url(' +  image + ')' }"
            ></div>
        </section>
    </section>
</template>

<script>
    import one from '@/assets/images/history/dsm.jpg';
    import two from '@/assets/images/history/car.jpeg';
    import three from '@/assets/images/history/engine-1.jpg';
    import four from '@/assets/images/history/engine-2.jpg';
    import five from '@/assets/images/history/kpp.jpg';
    import six from '@/assets/images/history/kpp-2.jpg';
    import seven from '@/assets/images/history/kpp-3.jpg';
    import eight from '@/assets/images/history/kpp-4.jpg';
    import nine from '@/assets/images/history/change_oil.jpg';
    import ten from '@/assets/images/history/electrica.jpg';
    import eleven from '@/assets/images/history/support.jpg';
    import twelve from '@/assets/images/history/tire_fitting.jpg';
    import thirteen from '@/assets/images/history/service.jpg';
    import fourteen from '@/assets/images/history/room_relax.jpg';

    export default {
        name: 'History',
        data() {
            return {
                items: [one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen],
                index: null
            }
        }
    }
</script>

<style scoped>

</style>
