<template>
    <div>
        <carousel
                :per-page="1"
                :autoplayTimeout="4000"
                :loop="true"
                :autoplay="true"
                :mouse-drag="false"
                :navigationEnabled="true"
                class="new-slides desktop"
        >
            <slide
                    v-for="(list, i) in desktopList"
                    :key="i"
                    class="flex align-items-center justify-content-space-between"
            >
                <div v-for="(key, y) in list.item" :key="y">
                    <img :src="require(`@/assets/images/auto/${key.img}.jpg`)" :alt="key.alt">
                    <p>{{key.alt}}</p>
                </div>
            </slide>
        </carousel>

        <carousel
                :per-page="1"
                :autoplayTimeout="4000"
                :loop="true"
                :autoplay="true"
                :mouse-drag="false"
                :navigationEnabled="true"
                class="new-slides mobile"
        >
            <slide
                    v-for="(item, i) in mobileList"
                    :key="i"
                    class="center-center column"
            >
                <img :src="require(`@/assets/images/auto/${item.img}.jpg`)" :alt="item.alt">
                {{item.alt}}
            </slide>
        </carousel>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    const item1 = [
        {img: 'Actyon', alt: 'Ssang Actyon'},
        {img: 'Actyon_sports', alt: 'Ssang Actyon Sports'},
        {img: 'Actyon_sports_2012', alt: 'Ssang Actyon Sports 2012'}
    ];
    const item2 = [
        {img: 'Chairman', alt: 'Ssang Chairman'},
        {img: 'Chairman_w', alt: 'Ssang Chairman W'},
        {img: 'Istana', alt: 'Ssang Istana'}
    ];
    const item3 = [
        {img: 'Korando', alt: 'Ssang Korando'},
        {img: 'Kyron', alt: 'Ssang Kyron'},
        {img: 'Musso', alt: 'Ssang Musso'},
    ];
    const item4 = [
        {img: 'Musso_sports', alt: 'Ssang Musso Sport'},
        {img: 'New_actyon', alt: 'Ssang New Actyon'},
        {img: 'Rexton', alt: 'Ssang Rexton'}
    ];
    const item5 = [
        {img: 'Rodius', alt: 'Ssang Rodius'},
        {img: 'Stavic', alt: 'Ssang Stavic'},
        {img: 'Tivoli', alt: 'Ssang Tivoli'}
    ];
    export default {
        name: "NewSlider",
        components: {
            Carousel,
            Slide
        },
        data() {
            return {
                mobileList: [
                    ...item1,
                    ...item2,
                    ...item3,
                    ...item4,
                    ...item5
                ],
                desktopList: [
                    { item: [...item1] },
                    { item: [...item2] },
                    { item: [...item3] },
                    { item: [...item4] },
                    { item: [...item5] }
                ]
            }
        }
    }
</script>
