<template>
    <div id="app-map">
        <yandex-map
                :coords="coords"
                zoom=15
        >
            <ymap-marker
                    :coords="coords"
                    marker-id="123123"
                    marker-type="placemark"
            />
        </yandex-map>
    </div>
</template>

<script>
    import { yandexMap, ymapMarker } from 'vue-yandex-maps'
    export default {
        name: "OnlineMap",
        components: { yandexMap, ymapMarker },
        data() {
            return {
                coords: [55.807191, 37.490956],
                placemarks: [
                    {
                        coords: [55.807191, 37.490956],
                        properties: {
                            balloonContentBody: 'asdfd',
                            balloonContentFooter: '1',
                            balloonContentHeader: '1'
                        },
                        clusterName: '1',
                        markerId: '1'
                    },
                    {
                        coords: [55.807191, 37.490956],
                        properties: {
                            balloonContentBody: 'asdfasdf',
                            balloonContentFooter: '1',
                            balloonContentHeader: '1'
                        },
                        clusterName: '1',
                        markerId: '2'
                    },
                    {
                        coords: [55.807191, 37.490956],
                        properties: {
                            balloonContentBody: 'asdfasdf',
                            balloonContentFooter: '1',
                            balloonContentHeader: '1'
                        },
                        clusterName: '1',
                        markerId: '3'
                    },
                ],
                layout: '<div>{{ properties.balloonContentHeader }}</div>' +
                        '<div>{{ properties.balloonContentBody }}</div>' +
                        '<div>{{ properties.balloonContentFooter }}</div>'
            }
        }
    }
</script>

<style>
    #app-map {
        width: 100%;
        height: 500px;
    }
    .ymap-container {
        height: 100%;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        #app-map {
            width: 610px;
            height: 500px;
        }
    }
    @media (max-width: 767px) {
        #app-map {
            width: 300px;
            height: 300px;
        }
    }
</style>