<template>
    <div class="sidebar center-center">
        <nav class="sidebar-menu">
            <ul>
                <router-link
                        v-for="item in menu"
                        :key="item.link"
                        :to="item.link"
                        class="decor-none text-transform-uppercase"
                        @click.native="$emit('showSidebar')"
                >
                    <li>{{item.text}}</li>
                </router-link>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "Sidebar",
        props: ['menu']
    }
</script>

<style scoped>

</style>