<template>
    <section>
        <div class="modals-close" @click="$emit('closeModal')">X</div>
        <div v-if="message" class="modals-body center text-center">
            <h2>Запись на ремонт</h2>
            <div v-show="text">
                <p>Чтобы ускорить процесс приема автомобиля, вы можете записаться к нам с помощью электронной формы.</p>
                <p>Мы вам перезвоним и будем с нетерпением ждать в назначенное время.</p>
            </div>
            <slot name="clarification" />
            <div class="modals-body--form flex">
                <div>
                    <input
                            type="text"
                            v-model="custom.name"
                            placeholder="Как Вас зовут"
                            class="modals-body--form-field"
                            :class="{'field-error': errors.name}"
                            autocomplete="off"
                    />
                    <p v-show="errors.name" class="text-error error-input-magazine">Поле может быть минимум из 3 букв</p>
                </div>
                <div>
                    <input
                            type="tel"
                            v-model="custom.phone"
                            placeholder="Телефон"
                            class="modals-body--form-field"
                            :class="{'field-error': errors.phone}"
                            v-mask="'+7(9##)###-##-##'"
                            autocomplete="off"
                    />
                    <p v-show="errors.phone" class="text-error error-input-magazine">Укажите телефон полностью</p>
                </div>
                <datepicker
                        v-model="custom.date"
                        :language="ru"
                        class="sign-repair-date"
                        :class="{'error-date': errors.date}"
                        placeholder="Записаться на"
                >
                    <p
                        v-show="errors.date"
                        slot="afterDateInput"
                        class="text-error error-input-magazine"
                    >
                        Выберите дату
                    </p>
                </datepicker>
                <div>
                    <select
                            v-model="custom.time"
                            class="modals-body--form-field"
                            :class="{'field-error': errors.time}"
                    >
                        <option value disabled selected>Время записи</option>
                        <option
                                v-for="time in time_sign"
                                :key="time"
                                :value="time"
                        >
                            {{time}}
                        </option>
                    </select>
                    <p v-show="errors.time" class="text-error error-input-magazine">Укажите время</p>
                </div>
            </div>
            <textarea v-if="additional_field"
                      v-model="additional_text"
                      class="modals-body--textarea"
                      placeholder="Здесь Вы можете указать дополнительную информацию"
            />
            <button
                    @click="sign"
                    :disabled="disableBtn"
                    :class="{'disabled': disableBtn}"
                    class="modals-body--button"
            >
                Записаться <i class="fa fa-circle-o-notch fa-spin" v-show="disableBtn" />
            </button>
        </div>
        <div v-else class="modals-body text-center">
            <h2>Сообщение отправлено!</h2>
            <p>В ближайшее время с Вами свяжется наш мастер.</p>
        </div>
    </section>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import {ru} from 'vuejs-datepicker/dist/locale';
    import axios from "axios";
    export default {
        name: 'SignRepair',
        components: {
            Datepicker
        },
        props: {
            text: {
                type: Boolean,
                required: false,
                default: false
            },
            additional_field: {
                type: Boolean,
                required: false,
                default: false
            },
            selected_service: {
                type: String,
                required: false,
                default: ''
            }
        },
        data() {
            return {
                message: true,
                disableBtn: false,
                ru: ru,
                custom: {
                    name: '',
                    phone: '+7(9',
                    date: '',
                    time: ''
                },
                errors: {
                    name: false,
                    phone: false,
                    date: false,
                    time: false
                },
                date_sign: '',
                time_sign: [
                    '10:00', '10:30', '11:00', '11:30',
                    '12:00', '12:30', '13:00', '13:30',
                    '14:00', '14:30', '15:00', '15:30',
                    '16:00', '16:30', '17:00', '17:30',
                    '18:00', '18:30', '19:00', '19:30'
                ],
                additional_text: ''
            }
        },
        watch: {
            'custom.name'(symbol) {
                if (symbol.length >= 2) {
                    this.errors.name = false;
                }
            },
            'custom.phone'(symbol) {
                if (symbol.length >= 16) {
                    this.errors.phone = false;
                }
            },
            'custom.date'() {
                this.errors.date = false;
            },
            'custom.time'(symbol) {
                if (symbol.length > 0) {
                    this.errors.time = false;
                }
            }
        },
        methods: {
            sign() {
                this.errors.name = this.custom.name.length < 2;
                this.errors.phone = this.custom.phone.length < 16;
                this.errors.date = this.custom.date.length === 0;
                this.errors.time = this.custom.time.length === 0;

                if (Object.keys(this.errors).every(k => this.errors[k] === false)) {
                    const text = `Запись на приём ${this.selected_service ? 'по услуге: ' + this.selected_service + ';' : ':'}
                        ${this.custom.name}, ${this.custom.phone}.
                        Дата: ${this.customFormatter(this.custom.date)}, на ${this.custom.time}
                        ${this.additional_text ? 'Дополнительная информация: ' + this.additional_text : ''}`;

                    this.disableBtn = true;

                    axios({
                        method: 'post',
                        url: 'http://37.1.218.208:4002/tost',
                        data: { message: text }
                    })
                        .then(() => this.message = false)
                        .catch(() => alert('Данные не могут быть отправлены'))
                        .finally(() => this.disableBtn = false);
                }
            },
            customFormatter(date) {
                const event = new Date(date);
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                return event.toLocaleDateString('ru-RU', options);
            }
        }
    }
</script>

<style scoped>

</style>
