<template>
    <section>
        <section v-if="size" class="slides">
            <div class="slides-show">
                <div v-for="items in desktopList" :key="items.length" class="slides-show-slide fade">
                    <div v-for="(item, index) in items" :key="index" class="slides-show-slide--content">
                        <div v-for="(x, y) in item" :key="y">
                            <img :src="require(`@/assets/images/auto/${x.img}.jpg`)">
                            <div class="slides-show-slide--text">{{x.alt}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slides-items">
        <span
                v-for="item in desktopList"
                :key="item.length"
                @click="currentSlide(index + 1)"
                class="slides-items-item"
        />
            </div>
        </section>
        <section v-else class="slides">
            <div class="slides-show">

                <div v-for="item in mobileList" :key="item.img" class="slides-show-slide fade">
                    <img :src="require(`@/assets/images/auto/${item.img}.jpg`)">
                    <div class="slides-show-slide--text">{{item.alt}}</div>
                </div>

                <a class="slides-show-prev" @click="plusSlides(-1)">&#10094;</a>
                <a class="slides-show-next" @click="plusSlides(1)">&#10095;</a>

            </div>

            <div class="slides-items">
        <span
                v-for="(item, index) in mobileList"
                :key="item.img"
                @click="currentSlide(index + 1)"
                class="slides-items-item"
        />
            </div>
        </section>
    </section>
</template>

<script>
    const item1 = [
        {img: 'Actyon', alt: 'Ssang Actyon'},
        {img: 'Actyon_sports', alt: 'Ssang Actyon Sports'},
        {img: 'Actyon_sports_2012', alt: 'Ssang Actyon Sports 2012'}
    ];
    const item2 = [
        {img: 'Chairman', alt: 'Ssang Chairman'},
        {img: 'Chairman_w', alt: 'Ssang Chairman W'},
        {img: 'Istana', alt: 'Ssang Istana'}
    ];
    const item3 = [
        {img: 'Korando', alt: 'Ssang Korando'},
        {img: 'Kyron', alt: 'Ssang Kyron'},
        {img: 'Musso', alt: 'Ssang Musso'},
    ];
    const item4 = [
        {img: 'Musso_sports', alt: 'Ssang Musso Sport'},
        {img: 'New_actyon', alt: 'Ssang New Actyon'},
        {img: 'Rexton', alt: 'Ssang Rexton'}
    ];
    const item5 = [
        {img: 'Rodius', alt: 'Ssang Rodius'},
        {img: 'Stavic', alt: 'Ssang Stavic'},
        {img: 'Tivoli', alt: 'Ssang Tivoli'}
    ];
    export default {
        name: "slider",
        data() {
            return {
                size: true,
                slideIndex: 1,
                mobileList: [
                    ...item1,
                    ...item2,
                    ...item3,
                    ...item4,
                    ...item5
                ],
                desktopList: [
                    { item: [...item1] },
                    { item: [...item2] },
                    { item: [...item3] },
                    { item: [...item4] },
                    { item: [...item5] }
                ]
            }
        },
        beforeMount() {
            this.sizePage();
        },
        mounted() {
            this.$nextTick(() => window.addEventListener('resize', this.sizePage));
            this.showSlides();
            this.timeSlides();
        },
        methods: {
            sizePage() {
                if (window.matchMedia("(max-width: 767px)").matches) {
                    this.size = false
                } else {
                    this.size = true
                }
            },
            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            },

            currentSlide(n) {
                this.showSlides(this.slideIndex = n);
            },
            timeSlides() {
                setTimeout(() => {
                    this.showSlides(this.slideIndex += 1);
                    this.timeSlides()
                }, 10000)
            },
            showSlides(n) {
                let i,
                    slides = document.getElementsByClassName('slides-show-slide'),
                    dots = document.getElementsByClassName('slides-items-item');
                // console.log('slides', slides)
                if (n > slides.length) {
                    this.slideIndex = 1
                }
                if (n < 1) {
                    this.slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = 'none';
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(' active', '');
                }
                slides[this.slideIndex - 1].style.display = 'block';
                dots[this.slideIndex - 1].className += ' active';
            }
        }
    }
</script>

<style scoped>

</style>
