<template>
    <div id="app">
        <Header
                :menu="menu"
                :social="social"
                :hamburger="enableSidebar"
                @showSidebar="enableSidebar = !enableSidebar"
        />
        <Sidebar
                v-show="enableSidebar"
                :menu="menu"
                @showSidebar="enableSidebar = false"
        />
        <router-view class="content" />
        <div class="main-form" @click="$modal.show('main-form')"></div>
        <Footer :social="social" />
        <modal
                name="main-form"
                :width="760"
                :height="290"
                class="modals"
        >
            <SignRepair @closeModal="$modal.hide('main-form')" />
        </modal>
    </div>
</template>

<script>
    import Header from "./components/Header";
    import Sidebar from "./components/Sidebar";
    import SignRepair from "./components/SignRepair";
    import Footer from "./components/Footer";
    export default {
        components: {
            Header,
            Sidebar,
            SignRepair,
            Footer
        },
        data () {
            return {
                menu: [
                    {link: '/', text: 'Главная'},
                    {link: '/services', text: 'Услуги'},
                    {link: '/payment', text: 'Расчёт ТО'},
                    {link: '/magazine', text: 'Магазин'},
                    {link: '/discounts', text: 'Акции'},
                    {link: '/contacts', text: 'Контакты'},
                    {link: '/question-answer', text: 'Вопрос-Ответ'},
                    {link: '/about', text: 'О нас'}
                ],
                enableSidebar: false,
                social: [
                    {name: 'vk', link: 'https://vk.com/rfrservice'},
                    {name: 'fb', link: 'https://Facebook.com/rfrservice'},
                    {name: 'ig', link: 'https://www.instagram.com/d2_service/?igshid=1bw9y4xqfmzuk'}
                ]
            }
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
