@import "./varibles/index";
@import "./varibles/fonts";
@import "./varibles/dinamic-style";
@import "./varibles/static-style";
@import "./pages/index";
@import "./components/header";
@import "./components/sidebar";
@import "./components/main-icons-tube";
@import "./components/footer";
@import "./components/main-slider";
@import "./components/review";
@import "./components/slider";
@import "./components/new-slider";
@import "./components/modals";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic,cyrillic-ext');

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;  /* Firefox 1-3.6 */
  border-radius: 0;
}
